section{

    max-width: 340px;
}

section>p{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 0.8em;
}
section>p>span{
    cursor: pointer;
    color: #1698d9;
    position: relative;
}
section>p>span:hover::after{
    content: '';
}
section>p>span::after{
    content: '_ _ _';
    position: absolute;
    top: 15%;
    left: 0;
}

/*-----hover-----*/
.hover,
.hover .servingWeight,
.selected.hover,
.selected.hover .servingWeight,
.hoveredAndSelectCartTopDesc{
    transition: 0.5s;
}
.hover{
    background-color: #2ea8e6;
}
.hover .servingWeight{
    background-color: #2ea8e6;
}
.selected.hover .servingWeight{
    background-color: #e62e7a ;
}
.selected.hover{
    background-color: #e62e7a ;
}
.hoveredAndSelectCartTopDesc{
    color: #e62e7a !important;
}
/*-----hover-end-----*/


.soldOutYellowText{
    color: #ffff66;
}

.border{
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    min-width: 320px;
    height: 480px;
    background-color: #1698d9;

    clip-path: polygon(13.5% 0,100% 0,100% 100%, 0 100%,0 9%);
    -webkit-clip-path: polygon(13.5% 0,100% 0,100% 100%, 0 100%,0 9%);
    border-radius: 10px;
    margin: 10px;
}
.soldOut{
    cursor: initial;
    background-color: #b3b3b3;;
}
.soldOut>.container>p,
.soldOut>.container>h2{
    color: #b3b3b3;
}
.soldOut>.container>p:nth-child(5){
    margin-top: 13px;
}
.soldOut .servingWeight{
    background-color: #b3b3b3;
}



.selected,.selected .servingWeight{
    transition: 0.5s;
    background-color: #d91667;
}



.container{

    overflow: hidden;
    clip-path: polygon(13.5% 0,100% 0,100% 100%, 0 100%,0 9%);
    width: 310px;
    height: 470px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 20px 45px;
    position: relative;
    border-radius: 10px;
}
.container *{
    font-family: "Trebuchet MS";
}



.container>img{
    position: absolute;
    right: -10%;
    bottom: -19%;
    z-index:-1;
}



.container>p{
    color: #666;
}
.container>p:nth-child(2){
    color: #666;
}
.container>p:nth-child(4){
    margin-top: 13px;
}



.container>h2{
    display: inline-flex;
    flex-direction: column;
}
.container>h2>span:nth-child(1){
    font-size: 2em;
}
.container>h2>span:nth-child(2){}



.disabled{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.45);
    top:0;
    left: 0;
    border-radius: 10px;
}



.servingWeight{
    width: 80px;
    height: 80px;

    background-color: #1698d9;

    border-radius: 50%;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 12px;
    bottom: 12px;
}
.servingWeight>span{
    color: white;
}
.servingWeight>span:nth-child(1){
    font-size: 2.4em;
}
.servingWeight>span:nth-child(2){
    font-size: 1.4em;
}