.root{
    min-height: 100vh;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),transparent 40% 60%,rgba(0,0,0,0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.root>h1{
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
main{
    width: 100%;
    max-width: 1200px;
}
main>article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}